<h2>Products</h2>
<!-- structural directive for looping through the list -->
<div *ngFor="let product of products">
  <h3>
    <!-- prop binding + defining the route for the links (with one fixed and one variable segments)-->
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
      >{{ product.name }}</a
    >
  </h3>
  <!-- structural directive for conditional rendering -->
  <p *ngIf="product.description">Description {{ product.description }}</p>

  <!-- event listener -->
  <button (click)="share()">Share</button>

  <!-- passing another component -->
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
